In [4]:
NLR = int(input("Enter LOWER Range for Numbers : "))
NUR = int(input("Enter UPPER Range for Numbers : "))
TLR = int(input("Enter LOWER Range for table : "))
TUR = int(input("Enter UPPER Range for table : "))

for N in range(NLR, NUR+1):
    print("\n*********** TABLE OF ",N," *************\n")
    for T in range(TLR,TUR+1):
        print(N," X ",T, " = ", N*T)

Enter LOWER Range for Numbers : 6
Enter UPPER Range for Numbers : 12
Enter LOWER Range for table : 5
Enter UPPER Range for table : 9

*********** TABLE OF  6  *************

6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54

*********** TABLE OF  7  *************

7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63

*********** TABLE OF  8  *************

8  X  5  =  40
8  X  6  =  48
8  X  7  =  56
8  X  8  =  64
8  X  9  =  72

*********** TABLE OF  9  *************

9  X  5  =  45
9  X  6  =  54
9  X  7  =  63
9  X  8  =  72
9  X  9  =  81

*********** TABLE OF  10  *************

10  X  5  =  50
10  X  6  =  60
10  X  7  =  70
10  X  8  =  80
10  X  9  =  90

*********** TABLE OF  11  *************

11  X  5  =  55
11  X  6  =  66
11  X  7  =  77
11  X  8  =  88
11  X  9  =  99

*********** TABLE OF  12  *************

12  X  5  =  60
12  X  6  =  72
12  X  7  =  84
12  X  8  =  96
12  X  9  =  108